node_modules/
!/uploads/.gitkeep
!/uploads/clients/.gitkeep
!/uploads/users/.gitkeep
!/uploads/categories/.gitkeep
!/uploads/subcategories/.gitkeep
!/uploads/products/.gitkeep
!/files/.gitkeep
!/files/products/.gitkeep
